# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Paths]
gdb_path = Your_gdb_path
nm_path = Your_arm-linux-androideabi-nm_path
objdump_path = Your_arm-linux-androideabi-objdump_path
gdb64_path = Your_gdb_path
nm64_path = Your_aarch64-linux-android-nm_path
objdump64_path = Your_aarch64-linux-android-objdump_path
